En este Scrip se desarollo el codigo para creal los csv que usaran las funciones en FastAPI y en Render

In [31]:
#Librerias a usar
import pandas as pd

Primera función

se habren los datasets que ya se les realizo ETL y se guardaron como csv

In [32]:
df_steam_games = pd.read_csv('../datasets/steam_games_worked.csv.gz')
df_user_items = pd.read_csv('../datasets/user_items_worked.csv.gz')

Se seleccionan solo las columnas que se van a usar para realizar la funcion

In [33]:
funtion_one_steam_games = df_steam_games[['id', 'genres', 'year']]

In [34]:
funtion_one_steam_games.head(2)

       id                                             genres    year
0  761140  ['Action', 'Casual', 'Indie', 'Simulation', 'S...  2018.0
1  643980       ['Free to Play', 'Indie', 'RPG', 'Strategy']  2018.0

Verificamos los nulos y filtramos

In [35]:
funtion_one_steam_games.isnull().sum()

id           0
genres       0
year      2239
dtype: int64

In [36]:
funtion_one_steam_games = funtion_one_steam_games.dropna(subset='year')

In [38]:
df_user_items.head(2)

   item_id            user_id  playtime_forever
0       10  76561197970982479               6.0
1       20  76561197970982479               0.0

In [39]:
funtion_one_user_items = df_user_items[['item_id', 'playtime_forever']]

In [40]:
funtion_one_user_items.head()

   item_id  playtime_forever
0       10               6.0
1       20               0.0
2       30               7.0
3       40               0.0
4       50               0.0

In [41]:
# 1. Fusionar los DataFrames
funtion_one_merge_df = pd.merge(funtion_one_steam_games, funtion_one_user_items, left_on='id', right_on='item_id')

In [42]:
funtion_one_merge_df.head()

       id                         genres    year  item_id  playtime_forever
0  282010  ['Action', 'Indie', 'Racing']  1997.0   282010               5.0
1  282010  ['Action', 'Indie', 'Racing']  1997.0   282010               0.0
2  282010  ['Action', 'Indie', 'Racing']  1997.0   282010               0.0
3  282010  ['Action', 'Indie', 'Racing']  1997.0   282010               0.0
4  282010  ['Action', 'Indie', 'Racing']  1997.0   282010              13.0

In [43]:
funtion_one_merge_df.drop('id', axis=1)

,genres,year,item_id,playtime_forever
0,"['Action', 'Indie', 'Racing']",1997.0,282010,5.0
1,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0
2,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0
3,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0
4,"['Action', 'Indie', 'Racing']",1997.0,282010,13.0
...,...,...,...,...
4215759,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,0.0
4215760,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,0.0
4215761,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,0.0
4215762,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,9.0
4215763,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,99.0

In [44]:
funtion_one_merge_df = funtion_one_merge_df.sample(frac=0.1, random_state=1)#por memorias en render se decide tomasr solo una muestra de df

ya fusionados los dos df se guadan con csv para que sean consumidos por la función

In [45]:
funtion_one_merge_df.to_csv('../datasets/PlayTimeGenre.csv.gz', index=False)

In [46]:
def PlayTimeGenre(genero: str):
    '''Esta función debe devolver año con mas horas jugadas para dicho género.
    Ejemplo de retorno: {"Año de lanzamiento con más horas jugadas para Género X" : 2013}'''
    
    # Leer el DataFrame desde el archivo CSV
    funtion_one_merge_df = pd.read_csv('../datasets/PlayTimeGenre.csv.gz')

    # Capitalizar la primera letra del género
    genero = genero.capitalize()

    # Filtrar el DataFrame para obtener solo las filas relacionadas con el género específico
    filtro_df = funtion_one_merge_df[funtion_one_merge_df['genres'].apply(lambda x: genero in x)]

    if not filtro_df.empty:
        # Agrupar por año sumando las horas jugadas para cada año
        grouped_df = filtro_df.groupby('year')['playtime_forever'].sum().reset_index()

        # Encontrar el año con la mayor cantidad de horas jugadas
        max_year = grouped_df.loc[grouped_df['playtime_forever'].idxmax()]['year']

        return {"Año de lanzamiento con más horas jugadas para Género {}:".format(genero): int(max_year)}
    else:
        return {"Género {} no encontrado en el DataFrame.".format(genero): None}

In [48]:

# Ejemplo de uso
resultado = PlayTimeGenre('indie')
print(resultado)

{'Año de lanzamiento con más horas jugadas para Género Indie:': 2006}

funcion 2

son casi los mismos pasos de la funcion 1, se le agrea la columna user_id

In [49]:
funtion_two_df_steam_games = df_steam_games[['id', 'genres', 'year',]]

In [50]:
funtion_two_df_user_items = df_user_items[['item_id', 'playtime_forever', 'user_id']]

In [51]:
funtion_two_merge_df= pd.merge(funtion_two_df_steam_games, funtion_two_df_user_items, left_on='id', right_on='item_id')

In [52]:
funtion_two_merge_df.head()

,id,genres,year,item_id,playtime_forever,user_id
0,282010,"['Action', 'Indie', 'Racing']",1997.0,282010,5.0,UTNerd24
1,282010,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0,I_DID_911_JUST_SAYING
2,282010,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0,76561197962104795
3,282010,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0,r3ap3r78
4,282010,"['Action', 'Indie', 'Racing']",1997.0,282010,13.0,saint556

In [53]:
funtion_two_merge_df.drop('id', axis=1)

,genres,year,item_id,playtime_forever,user_id
0,"['Action', 'Indie', 'Racing']",1997.0,282010,5.0,UTNerd24
1,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0,I_DID_911_JUST_SAYING
2,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0,76561197962104795
3,"['Action', 'Indie', 'Racing']",1997.0,282010,0.0,r3ap3r78
4,"['Action', 'Indie', 'Racing']",1997.0,282010,13.0,saint556
...,...,...,...,...,...
4294197,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,0.0,76561198273508956
4294198,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,0.0,76561198282090798
4294199,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,0.0,943525
4294200,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,9.0,76561198283312749
4294201,"['Action', 'Strategy', 'Adventure', 'Simulation']",2004.0,80,99.0,76561198312638244

In [54]:
funtion_two_merge_df = funtion_two_merge_df.sample(frac=0.15, random_state=1)#por memorias en render se decide tomasr solo una muestra de df

In [55]:
funtion_two_merge_df.to_csv('../datasets/UserForGenre.csv.gz', index=False)

In [56]:
def UserForGenre(genero: str):

    '''Esta función devuelve el usuario que acumula más horas jugadas para el género dado y 
        una lista de la acumulación de horas jugadas por año.
        Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, 
        "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}'''

    # Leer el DataFrame desde el archivo CSV
    funtion_two_merge_df = pd.read_csv('../datasets/UserForGenre.csv.gz')

    genero = genero.capitalize()
    # Paso 1: Filtrar el DataFrame para el género dado
    filtered_df = funtion_two_merge_df[funtion_two_merge_df['genres'].apply(lambda x: genero in x)]

    if not filtered_df.empty:
        # Paso 2: Encontrar el usuario con más horas jugadas
        user_with_max_hours = filtered_df.groupby('user_id')['playtime_forever'].sum().idxmax()

        # Paso 3: Crear una lista de acumulación de horas jugadas por año
        grouped_df = filtered_df.groupby(['year', 'user_id'])['playtime_forever'].sum().reset_index()
        hours_accumulation = [{'Año': int(year), 'Horas': int(hours)} for year, hours in grouped_df.groupby('year')['playtime_forever'].max().items()]

        # Paso 4: Retornar el resultado en el formato deseado
        result = {"Usuario con más horas jugadas para Género {}".format(genero): user_with_max_hours,
                  "Horas jugadas": hours_accumulation}
        return result
    else:
        return {"Género {} no encontrado en el DataFrame.".format(genero): None}

In [59]:
# Ejemplo de uso
genero_ejemplo = 'indie'  # Puedes cambiar esto al género que desees
resultado = UserForGenre(genero_ejemplo)
print(resultado)

{'Usuario con más horas jugadas para Género Indie': 'tsunamitad', 'Horas jugadas': [{'Año': 1988, 'Horas': 379}, {'Año': 1995, 'Horas': 129}, {'Año': 1996, 'Horas': 40}, {'Año': 1997, 'Horas': 1182}, {'Año': 1998, 'Horas': 1274}, {'Año': 1999, 'Horas': 8101}, {'Año': 2000, 'Horas': 522}, {'Año': 2001, 'Horas': 2892}, {'Año': 2002, 'Horas': 1912}, {'Año': 2003, 'Horas': 8026}, {'Año': 2004, 'Horas': 2006}, {'Año': 2005, 'Horas': 6654}, {'Año': 2006, 'Horas': 551719}, {'Año': 2007, 'Horas': 45548}, {'Año': 2008, 'Horas': 101817}, {'Año': 2009, 'Horas': 78257}, {'Año': 2010, 'Horas': 152574}, {'Año': 2011, 'Horas': 600068}, {'Año': 2012, 'Horas': 171731}, {'Año': 2013, 'Horas': 182883}, {'Año': 2014, 'Horas': 134528}, {'Año': 2015, 'Horas': 278546}, {'Año': 2016, 'Horas': 225314}, {'Año': 2017, 'Horas': 141180}, {'Año': 2018, 'Horas': 342}]}

Función 3

importamos los csv a usar

In [64]:
df_user_reviews = pd.read_csv('../datasets/user_reviews_worked.csv.gz')
df_steam_games = pd.read_csv('../datasets/steam_games_worked.csv.gz')

Seleccionamos las columnas que vamos a usar

In [66]:
df_steam_games = df_steam_games[['id','title']]

combinamos los df

In [67]:
funtion_three_merge_df = pd.merge(df_steam_games, df_user_reviews, left_on='id', right_on='item_id')

In [68]:
funtion_three_merge_df = funtion_three_merge_df[['title', 'year', 'recommend', 'sentiment_analysis']]

Guardamos el df solo con la informacion necesaria para la consulta

In [74]:
funtion_three_merge_df .to_csv('../datasets/UsersRecommend_UsersNotRecommend.csv.gz', index=False)

In [75]:
def UsersRecommend(anio: int):

    '''Esta función el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = 
    True y comentarios positivos/neutrales) Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]'''

    user_reviews = pd.read_csv('../datasets/UsersRecommend_UsersNotRecommend.csv.gz')
   
    # Paso 1: Filtrar el DataFrame para el año dado
    reviews_anio = user_reviews[user_reviews['year'] == anio]
    
    if reviews_anio.empty:
        return {"mensaje": "No hay revisiones para el año proporcionado."}

    # Paso 2: Filtrar para incluir solo revisiones recomendadas y con sentimiento positivo o neutral
    relevant_reviews = reviews_anio[(reviews_anio['recommend'] == True) & (reviews_anio['sentiment_analysis'].isin([1, 2]))]

    if relevant_reviews.empty:
        return {"mensaje": "No hay revisiones recomendadas y con sentimiento positivo o neutral para el año proporcionado."}

    # Paso 3: Contar la cantidad de recomendaciones para cada juego
    game_recommendation_counts = relevant_reviews.groupby('title')['recommend'].count().reset_index()

    # Paso 4: Ordenar los juegos en función de la cantidad de recomendaciones
    top_games = game_recommendation_counts.sort_values(by='recommend', ascending=False)

    # Paso 5: Seleccionar los tres juegos principales
    top_3_games = top_games.head(3)

    # Paso 6: Crear el formato de retorno deseado
    result = [{"Puesto {}: {}".format(i + 1, title)} for i, title in enumerate(top_3_games['title'][:3])]

    return result

In [76]:
# Ejemplo de uso
resultado = UsersRecommend(2012)
print(resultado)

[{'Puesto 1: Team Fortress 2'}, {'Puesto 2: Terraria'}, {"Puesto 3: Garry's Mod"}]

Funcion 4

Esta fncion es muy similar a la anterior, asi que la copiaremos a adaptaremos a lo que queremos

In [77]:
def UsersNotRecommend(anio: int):

    '''Esta función el top 3 de juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)    
    Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]'''

    user_reviews = pd.read_csv('../datasets/UsersRecommend_UsersNotRecommend.csv.gz')
   
    # Paso 1: Filtrar el DataFrame para el año dado
    reviews_anio = user_reviews[user_reviews['year'] == anio]
    
    if reviews_anio.empty:
        return {"mensaje": "No hay revisiones para el año proporcionado."}

    # Paso 2: Filtrar para incluir solo revisiones no recomendadas y con sentimiento negativos
    relevant_reviews = reviews_anio[(reviews_anio['recommend'] == False) & (reviews_anio['sentiment_analysis'] == 0)]

    if relevant_reviews.empty:
        return {"mensaje": "No hay revisiones no recomendadas y con sentimiento negativos para el año proporcionado."}

    # Paso 3: Contar la cantidad de recomendaciones negativas para cada juego
    game_recommendation_counts = relevant_reviews.groupby('title')['recommend'].count().reset_index()

    # Paso 4: Ordenar los juegos en función de la cantidad de recomendaciones
    top_games = game_recommendation_counts.sort_values(by='recommend', ascending=False)

    # Paso 5: Seleccionar los tres juegos principales
    top_3_games = top_games.head(3)

    # Paso 6: Crear el formato de retorno deseado
    result = [{"Puesto {}: {}".format(i + 1, title)} for i, title in enumerate(top_3_games['title'][:3])]

    return result

In [78]:
resultado = UsersNotRecommend(2012)
print(resultado)

[{'Puesto 1: Call of Duty®: Black Ops II'}, {'Puesto 2: Red Faction®: Armageddon™'}, {'Puesto 3: Resident Evil: Operation Raccoon City'}]

Funcion 5

In [82]:
df_steam_games = pd.read_csv('../datasets/steam_games_worked.csv.gz')
df_user_reviews = pd.read_csv('../datasets/user_reviews_worked.csv.gz')

In [83]:
df_user_reviews = df_user_reviews[['item_id', 'user_id', 'sentiment_analysis']]

In [84]:
df_steam_games = df_steam_games[['id', 'year']]

In [85]:
fumntion_five_merge_df = pd.merge(df_user_reviews, df_steam_games, left_on='item_id', right_on='id')

Guardamos en csv

In [86]:
fumntion_five_merge_df.head()

   item_id            user_id  sentiment_analysis    id    year
0     1250  76561197970982479                   2  1250  2009.0
1     1250       death-hunter                   2  1250  2009.0
2     1250           DJKamBer                   0  1250  2009.0
3     1250          diego9031                   1  1250  2009.0
4     1250  76561198081962345                   1  1250  2009.0

In [87]:
# Convertir la columna sentiment_analysis a tipo de datos cadena (str)
fumntion_five_merge_df['sentiment_analysis'] = fumntion_five_merge_df['sentiment_analysis'].astype(str)

In [88]:
fumntion_five_merge_df.to_csv('../datasets/sentiment_analysis.csv.gz', index=False)

In [89]:
def sentiment_analysis(anio: int):
    '''Esta funcion según el año de lanzamiento, se devuelve una lista con la cantidad de 
    registros de reseñas de usuarios que se encuentren categorizados con un análisis de 
    sentimiento.Ejemplo de retorno: {Negative = 182, Neutral = 120, Positive = 278}'''

    merge_df5 = pd.read_csv('../datasets/sentiment_analysis.csv.gz')

    # Filtrar el DataFrame por el año proporcionado
    relevant_reviews = merge_df5[merge_df5['year'] == anio]

    # Contar la cantidad de registros para cada categoría de análisis de sentimiento
    sentiment_counts = relevant_reviews.groupby('sentiment_analysis').size()

     # Convertir los índices a tipos de datos estándar (int)
    sentiment_counts.index = sentiment_counts.index.astype(int)

    # Crear el diccionario de resultados
    result = {
        'Negative': int(sentiment_counts.get(0, 2)),
        'Neutral': int(sentiment_counts.get(1, 2)),
        'Positive': int(sentiment_counts.get(2, 3))
    }
    

    return  result

In [90]:
resultado = sentiment_analysis(2017)
print(resultado)

{'Negative': 359, 'Neutral': 419, 'Positive': 1292}